<!DOCTYPE html>
<html lang="en">
  <head><meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Parfois about</title>
    <!-- CUSTOM CSS (main) -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
      />
      <link rel="stylesheet" href="../styles/1_header.css" />
      <link rel="stylesheet" href="../styles/3_glass.css" />
      <link rel="stylesheet" href="../styles/4_footer.css" />
    <!-- CUSTOM JS (main) -->
    <script defer src ="../scripts/navbar.js"></script>
    <!-- CUSTOM JS -->

  </head>
  <body>
    <header class="header">
      <div class="section-1">

    

     <!--right navbar -->
    <div class="left-nav">
      <i id = "fa" class="fas fa-bars fa-2x"></i>
      <ul class="navbar">
        <li class="nav"><a href="../index.html">Home</a></li>
         <li class="nav"><a href="./shop.html">Shop</a></li>
         <li class="nav"><a href="./about.html">About Us</a></li>
         <li class="nav"><a href="./contact.html">Contacts</a></li>
         <li class="nav"><a href="./cart.html">Cart &nbsp;&nbsp;<i class="fas fa-shopping-basket"></i></a></li>
       </ul>

    </div>
    <div class="right-nav"><h2><a href="../index.html">Parfois</a></h2></div>
  
  </div>

</div>
<div class="header-line"></div>
    </header>

    <!-- main section -->
    <main class="glass-main">
      <div class="glass-container">
        
        <div class="two-circles">
        <div class="circle-top">
          <img src="https://i.ibb.co/pw2gN3r/circle-1.png" alt="circle-1" >
        </div>

        <div class="circle-bottom">
          <img src="https://i.ibb.co/MVt0Ztk/circle-2.png" alt="circle-2">
        </div>

      </div>
      <div class="square-boxes">
        <div class="square"></div>
        <div class="border"></div>
        <div class="visible-square">
            <div class="logo">
              <img src="https://i.ibb.co/XV7CLpg/slack.png" alt="" />
            </div>

            <div class="two-text-boxes">
              <h2>FRESH DESIGNS</h2>
              <h4>LEARNING TO DESIGN</h4>
            </div>
          </div>
        </div>
      </div>
            <!-- main div -->
      </div>

    
    </main>

    <footer class="footer"></footer>
  </body>
</html>
