h1{
    margin: 20px;
    font-size: 30px;
    padding: 10px;
    color: blue;
}
label{
    margin: 20px;
    color: grey;
}
.red{
    color: red;
}
.border{
    border: 2px solid green;
}
#reg{

}
#s3{
    font-size: 50px;
    background-color: yellow;
}
#variantas3{
    text-align: center;
    margin: 100px;
}

.two{
    background-color: yellow;
    transform: scale(0.95);
}

.one{
    border: 2px solid red;
    
}
.three{
    background-color: green;
}
.one.two {
    padding: 20px;
}

