.father{
    width: 1000px;
    height: 1000px;
    background-color: black;
    margin: 0 auto;
}
.children{
    display: inline-block;
    position: relative;
    width: 150px;
    height: 150px;
}
.red{
    background-color: red;
    top: 50px;
}
.blue{
    background-color: blue;
    top: 80px;
    right: 200px;
}
.green{
    background-color: green;
    bottom: 50px;
}
.yellow{
    background-color: yellow;
    bottom: 100px;
    left: 500px;
}
.pink{
    background-color: pink;
    right: 1000px;
}