body{
/* text-align: center; */
}
h1{
    text-decoration: blue;
}
.child{
    transition: 500ms;
}
.child:hover{
    transform: scale(1.1) rotate(0deg);
    /* transform: rotate(180deg); */
    transition: 500ms;
}
.first{
    box-sizing: border-box;
width: 100%;
height: 500px;
text-align: center;
}
.child{
width: 30%;
display: inline-block;
object-fit: cover;
/* text-align: center; */
margin: 10px;
}
img{
    height: 100%;
    width: 100%;
}

.black{
    background-color: black;
}
.child{
    display: inline-block;
    width: 100px;
    height: 100px;  
    background-color: gray;
    border: 3px solid red;
}
header, footer{
    text-align: center;
}