.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr auto;
}
.item {
  background-color: crimson;
  border: 1px solid yellow;
  text-align: center;
  transition: 500ms;
  &:hover {
    transform: scale(1.1);
    transition: 500ms;
  }
}
.item1,
.item6 {
  grid-column: span 2;
}
.item2 {
  grid-row: span 2;
}
.box {
  // width: 200px;
  // height: 200px;
  // margin: 0 auto;
  // background-color: aqua;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
