* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(209, 209, 209);
  padding-bottom: 10px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
a {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 20px;
  text-decoration: none;
}
form {
  padding: 100px 0;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
footer {
  position: fixed;
  bottom: 0;
  /* left: 50%; */
  /* transform: translate(-50%); */
  background-color: white;
  width: 100%;
  text-align: center;
}

td {
  padding: 10px;
}
#message {
  text-align: center;
}
@keyframes myanime {
  25% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1);
  }
}
.animate {
  animation: myanime 5s infinite;
}
