<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script defer src="./server.js"></script> -->
    <title>Document</title>
  </head>
  <body>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </header>
    <main>
      <h1>about</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
        dolores consequatur repellat nulla ducimus autem quos non, vitae
        excepturi voluptates amet nesciunt odio quia sapiente, sint, minus
        quidem tenetur quo?
      </p>
    </main>
  </body>
</html>
