/* 
-- Menu font-family: Lato, sans-serif;
-- Menu font color: #151515
-- Menu button background-color: #b6b6b6
*/
* {
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 10px;
}
.grid .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
